{{#each this}}
    <div class="task-box" data-completed="{{completed}}" data-id="{{id}}">
        <table>
            <tr>
                <!--The checkbox to complete it for the day-->
                <td class="task-checkbox-col">
                    <div class="checkbox-container">
                    </div>
                </td>
                
                <!--Task description-->
                <td class="task-desc-col">
                    <divs class="task-description">{{description}}</div>
                </td>

                <!--Task size indicator-->
                <td class="task-size-col">
                    <div class="task-size-container" data-size="{{size}}">
                        <div class="size-circle-left"></div>
                        <div class="size-circle-middle"></div>
                        <div class="size-circle-large"></div>
                    </div>
                </td>

                <!--Task date-->
                <td class="task-date-col">
                    <div class="task-date-container">
                        {{date-formatted}}
                    </div>
                </td>
            </tr>
        </table>

        <div class="subtask-container">
            {{> subtasks}}
        </div>
    </div>
{{/each}}